.app_chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 5rem;
}
.app_chef-content_quote{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.app_wrapper_img-reverse {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0;
}
.app_wrapper_img-reverse img{
  width: 80%;
}
.app_chef-content_quote img{
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.app_chef-sign {
  width: 100%;
  margin-top: 3rem;
}
.app_chef-sign p:first-child{
  color: var(--color-golden);
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04rem;
  text-transform: capitalize;
}
.app_chef-sign img {
  width: 250px;
  margin-top: 3rem;
}

@media screen and (max-width: 2000px){
  .app_chef-sign img{
    width: 370px;
  }
}
@media screen and (min-width: 1150px){
  .app_wrapper_img-reverse {
    margin-right: 4rem;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px){
  .app_chef-sign img{
    width: 80%;
  }
}