.app_header{
  background-color: var(--color-black);
}
#home .headtext_cormorant {
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}
.app_header-img img{
  width: 80%;
}

@media screen and (max-width: 650px) {
  #home .headtext_cormorant{
      font-size: 70px;
      line-height: 87px;
  }
}
@media screen and (max-width: 450px) {
  #home .headtext_cormorant {
    font-size: 50px;
    line-height: 70px;
  }
}